<html>
  <head>
    <title>Home - Jonesey's Test Site</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <header>
      <h1>Jonesey's Test Site - 周乐的实验网站</h1>
    </header>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="coding">Coding</a></li>
      <li><a href="projects">Projects</a></li>
      <li><a>Chinese</a></li>
      <li><a href="research">Research</a></li>
    </ul>
    <div class="container">
      <div class="main-content">
	<p>
	  Welcome to Jonesey's Test Site.
	</p>
	<p>
	  Checkout the links above for the actual content!
	</p>
	</p>
	<p>
	</p>
      </div>
    </div>
    <footer>
      <p>Copyright Alex Jones 2016</p>
    </footer>
  </body>
</html>
