doctype html
html
  head
    title #{title} - Jonesey's Test Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Jonesey's Test Site - 周乐的实验网站
    ul.navbar
      li Home
      li Blog
      li About
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
