<html>
  <head>
    <title>Home - Jonesey's Test Site</title>
    <link rel="stylesheet" href="/stylesheets/projects.css"/>
  </head>
  <body>
    <header>
      <h1>Jonesey's Test Site - 周乐的实验网站</h1>
    </header>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a>Coding</a></li>
      <li><a href="projects">Projects</a></li>
      <li><a>Chinese</a></li>
      <li><a href="research">Research</a></li>
    </ul>
    <div class="container">
      <div class="main-content">
	<div class="widget-container">
	  <div class="widget">
	    <h1>TF-8-Player</h1>
	    <a  href="https://github.com/Jonesey13/TF-8-Player">
	      <img src="http://i.imgur.com/ezUaCBe.png"/>
	    </a>
	    <p>An 8 player mod for the game TowerFall using the Bartizan modding framework</p>
	  </div>
	  <div class="widget">
	    <h1>Rusty Dodge</h1>
	    <a  href="https://github.com/Jonesey13/Rusty_Dodge">
	      <img src="http://i.imgur.com/Q0bAvxq.png"/>
	    </a>
	    <p>A simple game programmed in Rust using the memory-safe OpenGL wrapper, glium</p>
	  </div>
	</div>
      </div>
    </div>
    <footer>
      <p>Copyright Alex Jones 2016</p>
    </footer>
  </body>
</html>
