<html>
  <head>
    <title>Home - Jonesey's Test Site</title>
    <link rel="stylesheet" href="/stylesheets/research.css"/>
  </head>
  <body>
    <header>
      <h1>Jonesey's Test Site - 周乐的实验网站</h1>
    </header>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a>Coding</a></li>
      <li><a href="projects">Projects</a></li>
      <li><a>Chinese</a></li>
      <li><a href="research">Research</a></li>
    </ul>
    <div class="container">
      <div class="main-content-small">
	<div class="picture-box">
	  <a href="papers/FirstPaper.pdf">
	    <img src="images/FirstPaper.png"/>
	  </a>
	  <p>
	    Picture from the one-dim theoretical paper (<a href="papers/FirstPaper.pdf">clickme!</a>)
	  </p>
	</div>
	<p>
	  From 2011 to 2015 (2016 technically speaking) I worked at the
	  <a href="https://www.maths.cam.ac.uk/postgrad/epsrc-centre-doctoral-training-analysis">Cambridge Centre for Analysis</a>
	  as a PhD research student working in the field of Compressed Sensing (related to Fourier analysis and information theory).
	</p>
	<p>
	  My supervisor during this time was
	  <a href="http://www.damtp.cam.ac.uk/research/afha/anders/">
	    Anders Hansen
	  </a>
	  .
	</p>
	<hr style="border-top: dotted 1px;" />
	<p>
	  My research consisted of a theoretical and an applied component. The theoretical component assessed
	  which wavelet bases and sampling patterns were feasible for compressed sensing of Fourier inverse problems using a notion
	  called incoherence.
	</p>
	<p>
	  This work was separated into one and multidimensional cases.
	  The one-dimensional case was published in IEEE Tranactions on Information Theory in 2016.
	  The multi-dimensional paper was never submitted (as I had already left academia by the time the first paper was published)
	  but its contents can be found in my thesis (see below)
	</p>
	<hr style="border-top: dotted 1px;" />
	<p>
	  The applied component introduced compressed sensing to the field of Helium atom scattering (a surface-sensitive relative of the
	  field of neutron atom scattering).
	</p>
	<p>
	  This was collaborative work with
	  <a href="http://www.smf.phy.cam.ac.uk/">Surfaces, Microstructure and Fracture (SMF)</a>
	  group at the cavendish site.
	</p>
	<div class="picture-box-inline">
	  <a href="papers/SRPaper.pdf">
	    <img src="images/CMFigure.png"/>
	  </a>
	  <p>
	     An outline of how Helium spin-echo measurements are processed (<a href="papers/SRPaper.pdf">clickme!</a>)
	  </p>
	</div>
	<hr style="border-top: dotted 1px;" />
	<p>
	  Finally you can find my thesis below which contains all the material mentioned above.
	</p>
	<div class="picture-box-inline-group">
	  <div class="image-container">
	    <div class="image">
	      <img src="images/Iso1.png"/>
	    </div>
	    <div class="image">
	      <img src="images/Iso2.png"/>
	    </div>
	    <div class="image">
	      <img src="images/Iso3.png"/>
	    </div>
	    <div class="image">
	      <img src="images/Iso4.png"/>
	    </div>
	  </div>
	  <p>
	    A selection of multidimensional coherence level-sets (<a href="papers/Thesis.pdf">clickme for the thesis!</a>)
	  </p>
	</div>
      </div>
    </div>
    <footer>
      <p>Copyright Alex Jones 2016</p>
    </footer>
  </body>
</html>
