@import 'style'

.widget-container
  display flex
  text-align center

  .widget
    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    flex 1
    border-radius 20px
    padding 20px
    margin 20px
    border 1px solid #ccc
    background-color background-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)
  
    h1
      font-family 'Merriweather'
      padding 20px
      font-size 40px

    img
      width 100%
  
    p
      font-family 'Merriweather'
      padding-top 10px
      font-size 22px

    